src/canopus-config/preingestedRadioTVProgram.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pbc="http://www.pbcore.org/PBCore/PBCoreNamespace.html">
    <xs:import namespace="http://www.pbcore.org/PBCore/PBCoreNamespace.html"
               schemaLocation="pbcore.xsd"/>
    <xs:element name="program" type="programType"/>

    <xs:complexType name="pbcoreType">
        <xs:sequence>
            <xs:element ref="pbc:PBCoreDescriptionDocument"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="programType">
        <xs:sequence>
            <xs:element type="pbcoreType" name="pbcore"/>
            <xs:element type="xs:boolean" name="tvmeterAvailable"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>